/* Mapbox Hover PopUp content */
.mapboxgl-popup-content {
    padding: 0;
  }
  
  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #f15b28;
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #f15b28;
  }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #f15b28;
  }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #f15b28;
  }
  /*Right bar Popup Styling*/
  #rightInfoBar {
    position: absolute;
    display: block;
    /* top: 80px; */
    top: 87px;
    right: 0;
  
    /* Standard */
    max-height: calc(100% - 230px);
    /* Opera */
    max-height: -o-calc(100% - 230px);
    /* Firefox */
    max-height: -moz-calc(100% - 230px);
    /* WebKit */
    max-height: -webkit-calc(100% - 230px);
    overflow: auto;
    /* background-color: transparent !important; */
    background-color: #fff !important;
    z-index: 100;
  }

  #popupHeader {
    font-size: 18px;
    font-weight: bold;
    padding-top: 14px;
  }
  
  .rightInfoBarBorder {
    border: solid #ffffff 3px;
  }

#yellowSliderPopup,
#greenSliderPopup,
#pinkSliderPopup,
#blueSliderPopup,
#orangeSliderPopup,
#mintSliderPopup,
#lavenderSliderPopup {
  padding: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 270px; /* left: 258px; width: 300px; */
  /* dont break out a link */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  /* word-break: break-all; */
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.yellowHoverPopup,
.greenHoverPopup,
.pinkHoverPopup,
.blueHoverPopup,
.orangeHoverPopup,
.mintHoverPopup,
.lavenderHoverPopup {
  padding-left: 5px;
  padding-right: 5px;
}

#greenSliderPopup,
.greenHoverPopup {
  background-color: rgb(50, 205, 50, 0.3); /* #32CD32 LimeGreen */
  border: solid #32cd32 2px;
}
#pinkSliderPopup,
.pinkHoverPopup {
  background-color: rgb(255, 192, 203, 0.3); /* #FFC0CB Pink */
  border: solid pink 2px;
}
#blueSliderPopup,
.blueHoverPopup {
  background-color: rgb(11, 14, 229, 0.2); /* #0b0ee5 */
  border: solid #0b0ee5 2px;
}
#orangeSliderPopup,
.orangeHoverPopup {
  background-color: #e5870b33; /* #e5870b */
  border: solid #e5870b 2px;
}
#mintSliderPopup,
.mintHoverPopup {
  background-color: rgb(102, 205, 170, 0.3); /* #66CDAA MediumAquamarine */
  border: solid #66cdaa 2px;
}
#yellowSliderPopup,
.yellowHoverPopup {
  background-color: rgb(255, 255, 0, 0.5); /* #FFFF00 Yellow */
  border: solid #ffff00 2px;
}
#lavenderSliderPopup,
.lavenderHoverPopup {
  background-color: rgb(123, 104, 238, 0.3); /* #7B68EE MediumSlateBlue */
  border: solid #7b68ee 2px;
}

